<div class="grid grid-3col">
    <div class="flex-group-center box important">
        <div>
            {{localize 'NORSETT.sheets.actor.items.wield'}} {{localize 'NORSETT.bodyParts.biped.sides.left'}}
        </div>
        <div>
            <button type="button" class="squareBoxMed wieldable-droppable" data-part="leftHand"></button>
        </div>
    </div>
    <div class="flex-group-center box basic">
        <div>
            {{localize 'NORSETT.bodyParts.biped.head'}}
        </div>
        <div>
            {{#times 4}} <button type="button" class="squareBoxMed wieldable-droppable" data-part="head" data-layer="{{@index}}">{{@index}}</button> {{/times}}
        </div>
    </div>
    <div class="flex-group-center box important">
        <div>
            {{localize 'NORSETT.sheets.actor.items.wield'}} {{localize 'NORSETT.bodyParts.biped.sides.right'}}
        </div>
        <div>
            <button type="button" class="squareBoxMed wieldable-droppable" data-part="rightHand"></button>
        </div>
    </div>
</div>
<div class="grid grid-3col">
    <div class="flex-group-center box basic">
        <div>
            {{localize 'NORSETT.bodyParts.biped.upperArm'}}
        </div>
        <div>
            {{#times 4}} <button type="button" class="squareBoxMed wieldable-droppable" data-part="leftUpperArm" data-layer="{{@index}}">{{@index}}</button> {{/times}}
        </div>
    </div>
    <div class="flex-group-center box basic grid-rowspan-2">
        <div>
            {{localize 'NORSETT.bodyParts.biped.torso'}}
        </div>
        <div>
            {{#times 4}} <button type="button" class="squareBoxMed wieldable-droppable" data-part="torso" data-layer="{{@index}}">{{@index}}</button> {{/times}}
        </div>
    </div>
    <div class="flex-group-center box basic">
        <div>
            {{localize 'NORSETT.bodyParts.biped.upperArm'}}
        </div>
        <div>
            {{#times 4}} <button type="button" class="squareBoxMed wieldable-droppable" data-part="rightUpperArm" data-layer="{{@index}}">{{@index}}</button> {{/times}}
        </div>
    </div>
    <div class="flex-group-center box basic">
        <div>
            {{localize 'NORSETT.bodyParts.biped.lowerArm'}}
        </div>
        <div>
            {{#times 4}} <button type="button" class="squareBoxMed wieldable-droppable" data-part="leftLowerArm" data-layer="{{@index}}">{{@index}}</button> {{/times}}
        </div>
    </div>
    <div class="flex-group-center box basic">
        <div>
            {{localize 'NORSETT.bodyParts.biped.lowerArm'}}
        </div>
        <div>
            {{#times 4}} <button type="button" class="squareBoxMed wieldable-droppable" data-part="rightLowerArm" data-layer="{{@index}}">{{@index}}</button> {{/times}}
        </div>
    </div>
</div>
<div class="grid grid-4col">
    <div class="flex-group-center box basic">
        <div>
            {{localize 'NORSETT.bodyParts.biped.hand'}}
        </div>
        <div>
            {{#times 4}} <button type="button" class="squareBoxMed wieldable-droppable" data-part="leftHand" data-layer="{{@index}}">{{@index}}</button> {{/times}}
        </div>
    </div>
    <div class="flex-group-center box basic">
        <div>
            {{localize 'NORSETT.bodyParts.biped.upperLeg'}}
        </div>
        <div>
            {{#times 4}} <button type="button" class="squareBoxMed wieldable-droppable" data-part="leftUpperLeg" data-layer="{{@index}}">{{@index}}</button> {{/times}}
        </div>
    </div>
    <div class="flex-group-center box basic">
        <div>
            {{localize 'NORSETT.bodyParts.biped.upperLeg'}}
        </div>
        <div>
            {{#times 4}} <button type="button" class="squareBoxMed wieldable-droppable" data-part="rightUpperLeg" data-layer="{{@index}}">{{@index}}</button> {{/times}}
        </div>
    </div>
    <div class="flex-group-center box basic">
        <div>
            {{localize 'NORSETT.bodyParts.biped.hand'}}
        </div>
        <div>
            {{#times 4}} <button type="button" class="squareBoxMed wieldable-droppable" data-part="rightHand" data-layer="{{@index}}">{{@index}}</button> {{/times}}
        </div>
    </div>
</div>
<div class="grid grid-4col">
    <span></span>
    <div class="flex-group-center box basic">
        <div>
            {{localize 'NORSETT.bodyParts.biped.lowerLeg'}}
        </div>
        <div>
            {{#times 4}} <button type="button" class="squareBoxMed wieldable-droppable" data-part="leftLowerLeg" data-layer="{{@index}}">{{@index}}</button> {{/times}}
        </div>
    </div>
    <div class="flex-group-center box basic">
        <div>
            {{localize 'NORSETT.bodyParts.biped.lowerLeg'}}
        </div>
        <div>
            {{#times 4}} <button type="button" class="squareBoxMed wieldable-droppable" data-part="rightLowerLeg" data-layer="{{@index}}">{{@index}}</button> {{/times}}
        </div>
    </div>
    <span></span>
</div>
<div class="grid grid-2col">
    <div class="flex-group-center box basic">
        <div>
            {{localize 'NORSETT.bodyParts.biped.foot'}}
        </div>
        <div>
            {{#times 4}} <button type="button" class="squareBoxMed wieldable-droppable" data-part="leftFoot" data-layer="{{@index}}">{{@index}}</button> {{/times}}
        </div>
    </div>
    <div class="flex-group-center box basic">
        <div>
            {{localize 'NORSETT.bodyParts.biped.foot'}}
        </div>
        <div>
            {{#times 4}} <button type="button" class="squareBoxMed wieldable-droppable" data-part="rightFoot" data-layer="{{@index}}">{{@index}}</button> {{/times}}
        </div>
    </div>
</div>