<div class="grid grid-3col">
    <div></div>
    <div class="flex-group-center box basic">
        <div>
            {{localize 'NORSETT.bodyParts.biped.head'}}
        </div>
        <div>
            <button type="button" class="squareBoxMed bodyPart-droppable" data-part="head">
                {{log "fuck"}}
                {{log data}}
                {{#if data.body.head}}
                    {{log "head"}}
                    {{log data.body.head}}
                {{else}}
                    {{log "tails"}}
                {{/if}}
                {{#if data.body.head}}
                    <img src="{{data.body.head.img}}" height="75" width="75"/>
                {{/if}}
            </button>
        </div>
    </div><div>
    </div>
</div>
<div class="grid grid-3col">
    <div class="flex-group-center box basic">
        <div>
            {{localize 'NORSETT.bodyParts.biped.upperArm'}}
        </div>
        <div>
            <button type="button" class="squareBoxMed bodyPart-droppable" data-part="leftUpperArm"></button>
        </div>
    </div>
    <div class="flex-group-center box basic grid-rowspan-2">
        <div class="box">
            <div>
                {{localize 'NORSETT.bodyParts.biped.torso'}}
            </div>
            <div>
                <button type="button" class="squareBoxMed bodyPart-droppable" data-part="torso"></button>
            </div>
        </div>
    </div>
    <div class="flex-group-center box basic">
        <div>
            {{localize 'NORSETT.bodyParts.biped.upperArm'}}
        </div>
        <div>
            <button type="button" class="squareBoxMed bodyPart-droppable" data-part="rightUpperArm"></button>
        </div>
    </div>
    <div class="flex-group-center box basic">
        <div>
            {{localize 'NORSETT.bodyParts.biped.lowerArm'}}
        </div>
        <div>
            <button type="button" class="squareBoxMed bodyPart-droppable" data-part="leftLowerArm"></button>
        </div>
    </div>
    <div class="flex-group-center box basic">
        <div>
            {{localize 'NORSETT.bodyParts.biped.lowerArm'}}
        </div>
        <div>
            <button type="button" class="squareBoxMed bodyPart-droppable" data-part="rightLowerArm"></button>
        </div>
    </div>
</div>
<div class="grid grid-4col">
    <div class="flex-group-center box basic">
        <div>
            {{localize 'NORSETT.bodyParts.biped.hand'}}
        </div>
        <div>
            <button type="button" class="squareBoxMed bodyPart-droppable" data-part="leftHand"></button>
        </div>
    </div>
    <div class="flex-group-center box basic">
        <div>
            {{localize 'NORSETT.bodyParts.biped.upperLeg'}}
        </div>
        <div>
            <button type="button" class="squareBoxMed bodyPart-droppable" data-part="leftUpperLeg"></button>
        </div>
    </div>
    <div class="flex-group-center box basic">
        <div>
            {{localize 'NORSETT.bodyParts.biped.upperLeg'}}
        </div>
        <div>
            <button type="button" class="squareBoxMed bodyPart-droppable" data-part="rightUpperLeg"></button>
        </div>
    </div>
    <div class="flex-group-center box basic">
        <div>
            {{localize 'NORSETT.bodyParts.biped.hand'}}
        </div>
        <div>
            <button type="button" class="squareBoxMed bodyPart-droppable" data-part="rightHand"></button>
        </div>
    </div>
</div>
<div class="grid grid-4col">
    <span></span>
    <div class="flex-group-center box basic">
        <div>
            {{localize 'NORSETT.bodyParts.biped.lowerLeg'}}
        </div>
        <div>
            <button type="button" class="squareBoxMed bodyPart-droppable" data-part="leftLowerLeg"></button>
        </div>
    </div>
    <div class="flex-group-center box basic">
        <div>
            {{localize 'NORSETT.bodyParts.biped.lowerLeg'}}
        </div>
        <div>
            <button type="button" class="squareBoxMed bodyPart-droppable" data-part="rightLowerLeg"></button>
        </div>
    </div>
    <span></span>
</div>
<div class="grid grid-2col">
    <div class="flex-group-center box basic">
        <div>
            {{localize 'NORSETT.bodyParts.biped.foot'}}
        </div>
        <div>
           <button type="button" class="squareBoxMed bodyPart-droppable" data-part="leftFoot"></button>
        </div>
    </div>
    <div class="flex-group-center box basic">
        <div>
            {{localize 'NORSETT.bodyParts.biped.foot'}}
        </div>
        <div>
            <button type="button" class="squareBoxMed bodyPart-droppable" data-part="rightFoot"></button>
        </div>
    </div>
</div>