<ol class="items-list functions-list">
    {{log "attack types"}}
    <li class="items-header flexrow flex-group-center" data-function-type="attackType">
        <h3 class="item-name function-name flexrow">{{localize 'NORSETT.sheets.item.wieldable.functionName'}}</h3>
        <div class="function-source">{{localize 'NORSETT.sheets.item.wieldable.usesSkill'}}</div>
        <div class="function-source">{{localize 'NORSETT.sheets.item.wieldable.isAttack'}}</div>
        <div class="function-source">{{localize 'NORSETT.sheets.item.wieldable.sharpness'}}</div>
        <div class="function-source">{{localize 'NORSETT.sheets.item.wieldable.size'}}</div>
        <div class="function-source">{{localize 'NORSETT.sheets.item.wieldable.damageType'}}</div>
        <div class="item-controls function-controls flexrow">
            <a class="function-control" data-action="create" title="add">
                <i class="fas fa-plus"></i> {{localize "NORSETT.sheets.general.add"}}
            </a>
        </div>
    </li>

    <ol class="item-list attackType-droppable">
        {{log data}}
        {{#each data.functions as |function|}}
            <li class="item function flexrow flex-group-center" data-function-id="{{function.id}}">
                <div class="item-name function-name flexrow">
                    {{#if function.editing}}
                        <input name="data.functions.{{function.id}}.label" type="text" value="{{function.label}}"/>
                    {{else}}
                        <h4>{{function.label}}</h4>
                    {{/if}}
                </div>
                <div class="function-skill">
                    {{#if function.editing}}
                        <input name="function.skillUsed" type="text" value="{{function.skillUsed}}"/>
                    {{else}}
                        {{function.skillUsed}}
                    {{/if}}
                </div>
                <div class="function-attack">
                    {{#if function.editing}}
                        <input type="checkbox" class="link-checkbox" name="function.isAttack" data-dtype="Boolean" {{checked function.isAttack}}  />
                    {{else}}
                        {{function.isAttack}}
                    {{/if}}
                </div>
                <div class="function-sharpness resource">
                    {{#if function.editing}}
                        <input name="function.sharpness" type="text" value="{{function.sharpness}}" data-dtype="Number"/>
                    {{else}}
                        {{function.sharpness}}
                    {{/if}}
                </div>
                <div class="function-size resource">
                    {{#if function.editing}}
                        <input name="function.size" type="text" value="{{function.size}}" data-dtype="Number"/>
                    {{else}}
                        {{function.size}}
                    {{/if}}
                </div>
                <div class="function-damageType">
                    {{#if function.editing}}
                        <input name="function.damageType" type="text" value="{{function.damageType}}"/>
                    {{else}}
                        {{function.damageType}}
                    {{/if}}
                </div>
                <div class="item-controls function-controls flex-group-center">
                    <a class="function-control" data-action="edit" title="{{localize 'NORSETT.sheets.general.edit'}}">
                        {{#if function.editing}}
                            <i class="fas fa-check-square"></i>
                        {{else}}
                            <i class="fas fa-edit"></i>
                        {{/if}}
                    </a>
                    <a class="function-control" data-action="delete" title="{{localize 'NORSETT.sheets.general.delete'}}">
                        <i class="fas fa-trash"></i>
                    </a>
                </div>
            </li>
        {{/each}}
    </ol>
</ol>
