<div class="grid-2col align-center">
    <label for="data.workmanshipQuality" class="resource-label">{{localize 'NORSETT.sheets.item.templates.crafted.workmanshipQuality'}}</label>
    <input name="data.workmanshipQuality" type="text" value="{{data.workmanshipQuality}}" placeholder="Part"/>
    <label for="data.workmanshipTime" class="resource-label">{{localize 'NORSETT.sheets.item.templates.crafted.workmanshipTime'}}</label>
    <input name="data.workmanshipTime" type="text" value="{{data.workmanshipTime}}" placeholder="Part" data-dtype="Number"/>
</div>