<div class="grid-2col align-center">
    <label for="data.equipsOnType" class="resource-label">{{localize 'NORSETT.sheets.item.templates.equipable.equipsOnType'}}</label>
    <input name="data.equipsOnType" type="text" value="{{data.equipsOnType}}" placeholder="Part"/>
    <label for="data.equippedOn" class="resource-label">{{localize 'NORSETT.sheets.item.templates.equipable.equippedOn'}}</label>
    <input name="data.equippedOn" type="text" value="{{data.equippedOn}}" placeholder="Part"/>
</div>