<div class="grid-2col align-center">
    <label for="data.price" class="resource-label">{{localize 'NORSETT.sheets.item.templates.physical.money_value'}}</label>
    <input name="data.price" type="text" value="{{data.price}}" placeholder="Part" data-dtype="Number"/>
    <label for="data.rarity" class="resource-label">{{localize 'NORSETT.sheets.item.templates.physical.rarity'}}</label>
    <input name="data.rarity" type="text" value="{{data.rarity}}" placeholder="Part"/>
    <label for="data.identified" class="resource-label">{{localize 'NORSETT.sheets.item.templates.physical.identified'}}</label>
    <input type="checkbox" class="link-checkbox" name="data.identified" data-dtype="Boolean" {{checked data.identified}}  />
</div>
